<div class="card-group w-75 h-50 m-auto">
  <div class="card">
    <img class="card-img-top" src="assets/img/dog.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Żłobki</h5>
      <p class="card-text">Krótki opis dotyczący działu</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/dog.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Przedszkola</h5>
      <p class="card-text">Krótki opis dotyczący działu</p>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="assets/img/dog.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Budowy</h5>
      <p class="card-text">Krótki opis dotyczący działu</p>

    </div>
  </div>
</div>
